div.landing-container {
	padding: 2rem;
}

body {
	height: 100vh;
	overflow: hidden;
}

* {
	scrollbar-width: thin;          /* "auto" or "thin" */
  	scrollbar-color: #EEE white;   /* scroll thumb and track */
}
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #EEE white;
  }
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0px;
}

*::-webkit-scrollbar-track {
	background: white;
}

*::-webkit-scrollbar-thumb {
	background-color: #EEE;
	border-radius: 20px;
	border: 1px solid white;
}

.landing-page-container {
	max-width: 500px !important;
	min-width: 500px;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 0 0rem !important;
}